*{
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/bmibg.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.container{
  height: 480px;
  width: 400px;
  margin-top: 80px;
  margin-left: -250px;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 10px 10px rgb(122, 135, 131);
  font-size: 16px;
  padding: 20px;
  h1{
    text-align: center;
    text-shadow: 4px 4px rgb(128, 140, 155);
  }
}
input{
  height: 40px;
  font-size: 16px;
}
button{
  height: 40px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 20px;
}
button:hover{
  background-color: rgb(153, 153, 242);
  color: black;
}
h5{
  font-size: 18px;

}